body {
    min-width: 10%;
    max-width: 500px;
    margin: auto;
    height: auto;
    display: block;
    background: rgb(38, 38, 53);
    padding: 0px 24px 64px 24px;
}

h1 {
    color: white;
    margin-bottom: -8px;
}
h2 {
    color: white;
}
p {
    color: white;
    font-size: 18px;
    font-family: Georgia, serif;
}
input {
    width: 96%;
    margin: auto;
    padding: 6px;
}

button {
    padding: 6px;
    font-size: 14px;
    width: 150px;
    margin: auto;
    color:rgb(15, 15, 15);
    background-color: rgb(223, 223, 223);
}

#responseBody {
    border-style: solid;
    border-color:rgba(255, 255, 255, 0.267);
    border-width: 0px 0px 0px 5px;
    padding: 4px 8px 6px 8px;
    margin-top: 32px;
    line-height: 30px;
    min-height: 96px;
}
#footnote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    width: 90%;
    margin-top: 48px;
}

a:link, a:visited {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}