body {
    min-width: 10%;
    max-width: 500px;
    margin: auto;
    height: auto;
    display: block;
    background: rgb(38, 38, 53);
    padding: 0px 24px 0px 24px;
}

h1 {
    color: white;
    margin-bottom: -8px;
}
h2 {
    color: white;
}
p {
    color: white;
    font-size: 18px;
    font-family: Georgia, serif;
}
input {
    width: 96%;
    margin: auto;
    padding: 6px;
}

button {
    padding: 6px;
    font-size: 14px;
    width: 150px;
    margin: auto;
    background-color: rgb(221, 216, 193);
}

#responseBody {
    border-style: solid;
    border-color:rgba(255, 255, 255, 0.267);
    padding: 6px 8px 6px 8px;
    margin-top: 32px;
    line-height: 32px;
}
#footnote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    width: 90%;
}